.positioner {
  isolation: isolate;
  z-index: 50;
  outline: none;
}

.content {
  z-index: 50;
  width: min(288px, calc(100vw - 16px));
  max-height: var(--available-height);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: $white;
  color: $secondary;
  border: 1px solid rgba($foreground, 0.1);
  border-radius: $radius-lg;
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  outline: none;
  transform-origin: var(--transform-origin);

  &[data-open] {
    animation: fadeIn 100ms ease-out, zoomIn 100ms ease-out;
  }

  &[data-closed] {
    overflow: hidden;
    animation: fadeOut 100ms ease-in, zoomOut 100ms ease-in;
  }

  &[data-side='bottom'] {
    animation: fadeIn 100ms ease-out, slideInFromTop 100ms ease-out;
  }

  &[data-side='top'] {
    animation: fadeIn 100ms ease-out, slideInFromBottom 100ms ease-out;
  }

  &[data-side='left'],
  &[data-side='inline-start'] {
    animation: fadeIn 100ms ease-out, slideInFromRight 100ms ease-out;
  }

  &[data-side='right'],
  &[data-side='inline-end'] {
    animation: fadeIn 100ms ease-out, slideInFromLeft 100ms ease-out;
  }
}

.header {
  display: flex;
  flex-direction: column;
  gap: 2px;
  @include text-size(sm);
}

.title {
  font-weight: $font-weight-medium;
}

.description {
  color: rgba($foreground, 0.7);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0.95);
  }
  to {
    transform: scale(1);
  }
}

@keyframes zoomOut {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.95);
  }
}

@keyframes slideInFromTop {
  from {
    transform: translateY(-8px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideInFromBottom {
  from {
    transform: translateY(8px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-8px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(8px);
  }
  to {
    transform: translateX(0);
  }
}
