.skeleton {
  width: 100%;
  height: 100%;
  background-color: rgba($foreground, 0.1);
  border-radius: $radius-lg;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
